@model IEnumerable<MvcCore.App.ViewModels.ProdutoViewModel>

@{ ViewData["Title"] = "Produtos"; }

<h2 class="text-center font-weight-bold font-daysOne">
    <span class="fas fa-shopping-cart"></span> @ViewData["Title"]
</h2>

<p>
    <a class="btn btn-primary" asp-controller="Produtos" asp-action="Create"><span class="fa fa-plus"></span>&nbsp; Novo Produto</a>
</p>

<partial name="_ListaProdutos" />
