@model ErrorViewModel
@{ ViewData["Title"] = "Ocorreu um erro!"; }

@if (Model == null)
{
<h1 class="text-danger">Ops, tivemos um problema inesperado!</h1>
<h2 class="text-danger">Tente novamente mais tarde. Caso o erro persista, favor entrar em contato com o Adminstrador.</h2>
 }
else
{
<h1 class="text-danger">@Model.Titulo</h1>
<h2 class="text-danger">@Model.Mensagem</h2>
}

