@using MvcCore.App.Extensions

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4 mb-3 mt-5">@this.retornaSaudacao() :)</h1>
    <p>Mais sobre o Projeto - <a target="_blank" href="https://github.com/FelipeFabricio/Aplicacao-Mvc-Core"> GitHub</a>.</p>
</div>
